.bg
    background-image url('../../images/template_8.jpg')

.logo-container
  height 266px
  width 268px
  margin 20px auto
  background-image url('../../images/template_8_flower.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-position center
  display flex
  justify-content center
  align-items center

.logo-wrapper
  height 130px
  width 130px
  background-color #fff
  border-radius 50%
  position relative
  top 3px
  left -1px
  display flex
  align-items center
  justify-content center
  overflow hidden

.logo
  height 87px
  width 87px
  background-image url('../../images/template_6_logo.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-position center

.list-container
  width 80%
  margin 0 auto
  overflow hidden

  .list
    width 30%
    height 110px
    float left
    text-align center

    .iconfont
      color #ffbc4e
      display inline-block
      height 56px
      width 56px
      //-webkit-box-sizing border-box
      //box-sizing border-box
      background-color #fff
      border-radius 50%
      font-size 28px
      line-height 56px

    .text
      color rgba(255, 255, 255, .8)
      font-size 12px
      line-height 30px

  .list:nth-child(2), .list:nth-child(5)
    margin-right 5%
    margin-left 5%

  .footer
    color rgba(0, 0, 0, .3)

    p
      color rgba(255, 255, 255, .8)
















