.bg
  background-color #0c072a

.list-container
  width 80%
  margin 18px auto 4px auto
  overflow hidden

  .list
    width 46%
    height 140px
    box-sizing border-box
    margin-bottom 27px
    padding-top 42px
    float left
    text-align center
    background-size 140px 140px
    background-repeat no-repeat
    background-position center

    .iconfont
      color #fff
      font-size 42px

    .text
      color rgba(255, 255, 255, .8)
      font-size 12px
      line-height 36px

  .list:nth-child(1)
    margin-right 8%
    background-image url('../../images/企业简介.jpg')

  .list:nth-child(2)
    background-image url('../../images/厂家花型.jpg')

  .list:nth-child(3)
    margin-right 8%
    background-image url('../../images/厂家供应.jpg')

  .list:nth-child(4)
    background-image url('../../images/行车导航.jpg')

  .list:nth-child(5)
    margin-right 8%
    background-image url('../../images/3D试衣.jpg')

  .list:nth-child(6)
    background-image url('../../images/联系我们.jpg')

//@media screen and (min-width:420px)
//  .list
//    background-color #00b9db






