.bg
  background-image url('../../images/template_10.jpg')

.logo-container
  margin 49px auto 64px auto
  -webkit-box-sizing border-box
  box-sizing border-box
  border 8px solid #2c62a4
  border-radius 50%
  height 194px
  width 194px
  display flex
  justify-content center
  align-items center
  overflow hidden

.logo-wrapper
  height 200px
  width 200px
  background-color #fff
  display flex
  justify-content center
  align-items center
  overflow hidden

.logo
  height 107px
  width 107px
  background-image url('../../images/template_6_logo.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-position center

.list-container
  width 80%
  margin 0 auto
  overflow hidden

  .list
    width 30%
    height 110px
    float left
    text-align center

    .iconfont
      color #ffbc4e
      display inline-block
      height 56px
      width 56px
      //-webkit-box-sizing border-box
      //box-sizing border-box
      background-color #fff
      border-radius 50%
      font-size 28px
      line-height 56px

    .text
      color #fff
      font-size 12px
      line-height 30px

  .list:nth-child(2), .list:nth-child(5)
    margin-right 5%
    margin-left 5%








