.bg
    background-image url('../../images/template_4.jpg')

.search
  background-color rgba(255, 255, 255, .08)

.logo-container
  height 270px
  width 266px
  margin 27px auto 50px auto
  background-image url('../../images/template_4_flower.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-position center
  display flex
  justify-content center
  align-items center

.logo-wrapper
  height 164px
  width 164px
  background-color #fff
  border-radius 50%
  display flex
  align-items center
  justify-content center
  overflow hidden

.logo
  height 124px
  width 124px
  background-image url('../../images/template_7_logo.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-position center

.list-container
  width 80%
  margin 0 auto
  overflow hidden
  margin-bottom 48px

  .list
    width 30%
    height 84px
    float left
    text-align center

    .iconfont
      color #fff
      font-size 32px

    .text
      color rgba(255, 255, 255, .8)
      font-size 12px
      line-height 28px

  .list:nth-child(2), .list:nth-child(5)
    margin-right 5%
    margin-left 5%

.footer
 color rgba(255, 255, 255, .8)
















